
/*
1. FONTS -------------------------------------------------------------------------------------
*/
@font-face {
	font-family: Lato;
	src: url('fonts/lato-v15-latin-regular.ttf');
}

@font-face {
	font-family: Lato;
	src: url('fonts/lato-v15-latin-900.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Lato;
	src: url('fonts/Lato-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: Marcellus;
	src: url('fonts/Marcellus-Regular.ttf');
}


/*
2. CSS ---------------------------------------------------------------------------------------
*/
html {
	font-size: 18px;
}
@media (max-width: 1400px){
	html {
		font-size: 15px;
	}
}
@media (max-width: 1000px){
	html {
		font-size: 12px;
	}
}
@media (max-width: 800px){
	html {
		font-size: 10px;
	}
}
.caat_navbar a {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 19px;
	color: #000000;
}
.caat_navbar a:hover {
	color:#2A4A30;
	font-weight: bold;
}

.caat_navbar{
	height: 3vw;
}
.caat_navbar img {
	height: 3vw;
}

.nav_logo a {
	padding-left: 3vw;
}
@media (max-width: 1400px){
	.caat_navbar a {
		font-size: 16px;
		line-height: 18px;
	}
	.caat_navbar {
		height: 4vw;
	}
	.caat_navbar img {
		height: 4vw;	
	}
}
@media (max-width: 1000px){
	.caat_navbar a {
		font-size: 14px;
		line-height: 16px;
	}
	.caat_navbar {
		height: 6vw;
	}
	.caat_navbar img {
		height: 6vw;	
	}
}
@media (max-width: 800px){
	.caat_navbar a {
		font-size: 12px;
		line-height: 14px;
	}
	.caat_navbar {
		height: 7vw;
	}
	.caat_navbar img {
		height: 7vw;	
	}
}

.home_img1 {
	background: url('../images/home1.png');
	background-size: cover;
	width: 100%;
	height: 44.02vw; 
}

.home_img2 {
	background: url('../images/home2.png');
	background-size: cover;
	width: 100%;
	height: 29.93vw;
	margin: -7.5vw 0 0;
}

.remove_padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.remove_row_margin {
	margin-right: 0px !important;
}

.home_img1_title {
	padding: 14vw 0 2vw;
}
.home_img1_title p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 80px;
	color: #101011;
}

.home_img1_text p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	color: #101011;
}

.home_img2_text p {
	padding: 10vw 0 0;
}
.home_img2_text p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
}

.home_img3 {
	background: url('../images/home3.png');
	background-size: cover;
	width: 100%;
	height: 38.68vw;
	margin: -7.5vw 0 0;
}
@media (max-width: 1400px){
	.home_img1_title p {
		font-size: 52px;
		line-height: 60px;
	}
	.home_img1_text p {
		font-size: 16px;
		line-height: 24px;
	}
	.home_img2_text p {
		font-size: 30px;
		line-height: 40px;	
	}
}
@media (max-width: 1000px){
	.home_img1_title p {
		font-size: 42px;
		line-height: 50px;
	}
	.home_img1_text p {
		font-size: 12px;
		line-height: 20px;
	}
	.home_img2_text p {
		font-size: 20px;
		line-height: 30px;	
	}
}
@media (max-width: 800px){
	.home_img1_title p {
		font-size: 32px;
		line-height: 40px;
	}
	.home_img1_text p {
		font-size: 10px;
		line-height: 15px;
	}
	.home_img2_text p {
		font-size: 15px;
		line-height: 20px;	
	}
}

.home_img3_text {
	padding: 31vw 0 0;
}
.home_subtitle p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #101011;
}

.home_title p{
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 53px;
	color: #000000;

}

.home_text p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	color: #000000;
}

.home_link a {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #E96F62;
}

.home_link a:hover {
	color: #ab5349;
	text-decoration: none;
}

.home_img5Pad {
	padding-top: 6vw;
}

@media (max-width: 1400px){
	.home_subtitle p {
		font-size: 10px;
		line-height: 20px;
	}
	.home_title p {
		font-size: 36px;
		line-height: 46px;
	}
	.home_text p {
		font-size: 16px;
		line-height: 26px;
	}
	.home_link a {
		font-size: 18px;
		line-height: 22px;
	}
	.home_img5Pad {
		padding-top: 2vw;
	}
}
@media (max-width: 1000px){
	.home_subtitle p {
		font-size: 8px;
		line-height: 16px;
	}
	.home_title p {
		font-size: 28px;
		line-height: 36px;
	}
	.home_text p {
		font-size: 12px;
		line-height: 18px;
	}
	.home_link a {
		font-size: 14px;
		line-height: 18px;
	}
	.home_img5Pad {
		padding-top: 1vw;
	}
}
@media (max-width: 800px){
	.home_subtitle p {
		font-size: 6px;
		line-height: 16px;
	}
	.home_title p {
		font-size: 20px;
		line-height: 28px;
	}
	.home_text p {
		font-size: 10px;
		line-height: 14px;
	}
	.home_link a {
		font-size: 12px;
		line-height: 16px;
	}
	.home_img5Pad {
		padding-top: 1vw;
	}
}

.home_margTop{
	margin: 18vw 0 0;
}
.home_margTop2{
	margin: 12vw 0 0;
}
.home_margTop3{
	margin: 9vw 0 0;
}
.home_margTop4{
	margin: 3vw 0 0;
}
.home_margTop5{
	margin: 1.5vw 0 0;
}
.home_padTop {
	padding-top: 2vw;
}
.home_padBot {
	padding-bottom: 1.5vw;
}

.img_responsive {
	max-width: 100%;
	height: auto;
}

.home_textMarg {
	margin: 2vw 0 0;
}

.home_img5{
	background: url('../images/home5.png');
	background-size: cover;
	width: 100%;
	height: 63.75vw;
}

.home_proj img {
	width: 100%
}

.home_projText {
	background-color: #FFFFFF;
	text-align: left;
	padding: 1vw 1.5vw 0.2vw 1.5vw;
}

.home_projOrg {
	height: 30px;
}
.home_projOrg p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #E96F62;
}
.home_projTitle {
	padding: 1vw 0 0;
	height: 60px;
}
.home_projTitle a {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}
.home_projTitle a:hover {
	color: #ab5349;
	text-decoration: none;
}
.home_projCode{
	padding: 1.5vw 0 0;
	height: 70px;

}
.home_projCode p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #6A707B;
}

@media(max-width: 1400px){
	.home_projOrg {
		height: 25px;
	}
	.home_projOrg p {
		font-size: 10px;
		line-height: 16px;
	}
	.home_projTitle {
		padding: 0.5vw 0 0;
		height: 40px;
	}
	.home_projTitle a {
		font-size: 20px;
		line-height: 28px;
	}
	.home_projCode {
		height: 50px;
	}
	.home_projCode p {
		font-size: 8px;
		line-height: 14px;
	}
}
@media(max-width: 1000px){
	.home_projOrg {
		height: 20px;
	}
	.home_projOrg p {
		font-size: 8px;
		line-height: 14px;
	}
	.home_projTitle {
		padding: 1vw 0 0;
		height: 40px;
	}
	.home_projTitle a {
		font-size: 16px;
		line-height: 22px;
	}
	.home_projCode {
		height: 45px;
	}
	.home_projCode p {
		font-size: 6px;
		line-height: 12px;
	}
}
@media(max-width: 800px){
	.home_projOrg {
		height: 20px;
	}
	.home_projOrg p {
		font-size: 7px;
		line-height: 13px;
	}
	.home_projTitle {
		padding: 1vw 0 0;
		height: 30px;
	}
	.home_projTitle a {
		font-size: 14px;
		line-height: 22px;
	}
	.home_projCode {
		height: 35px;
	}
	.home_projCode p {
		font-size: 6px;
		line-height: 12px;
	}
}

.home_work{
	background-color: #FAC251;
}

.home_footerText p{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.footer_ img {
	width:30%;
}
.footer_button button {
	background: #101011;
	border: none;
	border-radius: 4px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 15px 32px;
}

/* ----------goals and methodology ----------------------------------*/

.goals_img1 {
	background: url('../images/goals1.png');
	background-size: cover;
	width: 100%;
	height: 50.13vw;
}

.goals_img2 {
	background: url('../images/goals2.png');
	background-size: cover;
	width: 100%;
	height: 50.18vw;
}

.goals_padtop {
	padding: 9vw 0 0 0;
}

.goals_toptittle p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 50px;
	color: #132811;
}

.goals_toptext p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #000000;

	text-align: justify;
  	text-justify: inter-word;
}

@media(max-width: 1400px){
	.goals_toptittle p {
		font-size: 38px;
		line-height: 46px;
	}
	.goals_toptext p {
		font-size: 16px;
		line-height: 24px;
	}
}
@media(max-width: 1000px){
	.goals_toptittle p {
		font-size: 30px;
		line-height: 36px;
	}
	.goals_toptext p {
		font-size: 14px;
		line-height: 20px;
	}
}
@media(max-width: 800px){
	.goals_toptittle p {
		font-size: 28px;
		line-height: 36px;
	}
	.goals_toptext p {
		font-size: 13px;
		line-height: 18px;
	}
}

.goals_mainTitleMargin {
	margin: -8vw 0 0 0;
}

.goals_mainTextMargin {
	margin: 3vw 0 0 0;
}
.goals_mainTitle {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 53px;
	color: #132811;
}

.goals_title {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	color: #285424;
}

.goals_subtitle {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #132811;
}
.goals_text1 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;

	text-align: justify;
  	text-justify: inter-word;
}

.goals_text2 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	text-align: justify;
  	text-justify: inter-word;
}

@media(max-width: 1400px){
	.goals_mainTitle {
		font-size: 36px;
		line-height: 46px;
	}
	.goals_title {
		font-size: 18px;
		line-height: 30px;
	}
	.goals_subtitle {
		font-size: 22px;
		line-height: 28px;	
	}
	.goals_text1 {
		font-size: 14px;
		line-height: 22px;
	}
	.goals_text2 {
		font-size: 13px;
	line-height: 22px;
	}
}
@media(max-width: 1000px){
	.goals_mainTitle {
		font-size: 32px;
		line-height: 36px;
	}
	.goals_title {
		font-size: 16px;
		line-height: 26px;
	}
	.goals_subtitle {
		font-size: 20px;
		line-height: 22px;	
	}
	.goals_text1 {
		font-size: 13px;
		line-height: 18px;
	}
	.goals_text2 {
		font-size: 12px;
	line-height: 18px;
	}
}
@media(max-width: 800px){
	.goals_mainTitle {
		font-size: 26px;
		line-height: 30px;
	}
	.goals_title {
		font-size: 14px;
		line-height: 18px;
	}
	.goals_subtitle {
		font-size: 16px;
		line-height: 18px;	
	}
	.goals_text1 {
		font-size: 12px;
		line-height: 16px;
	}
	.goals_text2 {
		font-size: 11px;
	line-height: 16px;
	}
}

/* ----------Who we are ----------------------------------*/

.who_img1 {
	background: url('../images/who1.png');
	background-size: cover;
	width: 100%;
	height: 33.47vw;
}
.who_topText {
	padding: 10vw 45vw 0 15vw;
}
.who_topText  p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 2.6rem;
	line-height: 3rem;
	color: #afb6ae;
}

.whoPaddingBot {
	padding-bottom: 3vw;
}
.whoPaddingBot2 {
	padding-bottom: 1vw;
}
.who_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	color: #173b14;
}

.who_name {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 36px;
	color: #285424;

	margin-bottom: 0vw;
}

.who_text{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.3rem;
	color: #000000;
	text-align: justify;
}

.who_text2 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 2rem;
	color: #000000;
	text-align: justify;
}

.who_marginTop{
	margin-top: 4vw;
}
.who_marginBot {
	margin-bottom: 2vw;
}
.who_histText {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 2rem;
	color: #000000;
	text-align: justify;
}
/* -------------------- contact us ---------------------------- */

.contact_img1 {
	background: url('../images/contact1.png');
	background-size: cover;
	width: 100%;
	height: 37.5vw;
}

.contact_img2 {
	background: url('../images/contact3.png');
	background-size: cover;
	width: 100%;
	height: 68.75vw;
}

.contact_paddingTop {
	padding-top: 11vw;;
}

.contact_topTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 2.6rem;
	line-height: 3rem;
	color: #000000;
}

.contact_topText p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.8rem;
	color: #000000;
}

.contact_form {
	padding: 11.3vw 12.5vw 1vw 14.5vw;
}

.contact_formPadTop {
	padding-top: 5vw;
}

.contact_marginTop {
	margin-top: -9vw;
}

.contact_removePadLeft {
	padding-left: 0px!important;
}

.contact_fromPadLeftRight {
	padding-left: 4vw;
	padding-right: 4vw;
}

.contact_formPadRight {
	padding-right: 3vw !important;
}
.contact_formPadRight2 {
	padding-right: 5vw !important;
}

.form-control {
	background-color: #d1d7d3!important;
}

.contact_formTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 2.3rem;
	line-height: 3rem;
	color: #101011;
}

.contact_formSubTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: #000000;
}

.contact_formTitle2 label, p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 1rem;
	color: #101011;
}

.contact_btn {
	background-color: #88a287!important;
	padding: 1vw 2vw !important;
	color: #FFFFFF !important;
}

.contact_margin {
	margin-top: -5vw;
}
.contact_margin2 {
	margin-top: -7vw;
}
.contact_margin3 {
	margin-bottom: 3vw;
}
.contact_margin4 {
	margin-bottom: 2vw;
}

.contact_text p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.2rem;
	color: #000000;
}

.contact_text2 p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 0.5rem;
	color: #000000;
}

/* ----------------- ANBI --------------------------- */

.anbi_img1 {
	background: url('../images/ANBI1.png');
	background-size: cover;
	width: 100%;
	height: 41.3vw;
}

.anbi_paddingTop {
	padding-top: 11vw;;
}
.anbi_paddingTop2 {
	padding-top: 4vw;;
}

.anbi_topTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	color: #000000;
}

.anbi_topText p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.anbi_title p {
	padding-top: 4vw;
	padding-bottom: 3vw;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 61px;
	color: #132811;
}

.anbi_text p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-align: justify;
}

.anbi_subTitle p {
	padding-top: 3vw;
	font-family: 'Lato';
	font-style: normal;
	font-size: 30px;
	line-height: 61px;
	color: #132811;
}

.anbi_subTitle2 p {
	padding-top: 2vw;
	font-family: 'Lato';
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: #285424;
}

.anbi_paddingBot {
	padding-bottom: 15vw;
}

.anbi_link a {
	font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: #E96F62;
}

.anbi_link a:hover {
	color: #ab5349;
	text-decoration: none;
}

/* --------------------------- projects --------------------- */

.projects_img1 {
	background: url('../images/projects1.png');
	background-size: cover;
	width: 100%;
	height: 41.3vw;
}

.projects_paddingTop {
	padding-top: 9vw;;
}
.projects_paddingTop2 {
	padding-top: 2vw;;
}

.projects_topTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	color: #000000;
}

.projects_topText p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.projects_title p {
	padding-top: 2vw;
	padding-bottom: 1vw;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 61px;
	color: #132811;
}

.projects_text p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	
}

.projects_box {
	height: 28vw;
	padding: 3rem 3rem 0 3rem;
}

.projects_img {
	background-size: cover;
	width: 100%;
	
}

.projects_org {
	padding-top: 1vw;
}
.projects_org p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #E96F62;
}

.projects_ititle a {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 1.4rem;
	color: #000000;
}

.projects_ititle a:hover{
	color: #2A4A30;
	text-decoration: none;
}

.projects_code {
	padding-top: 1vw;
}
.projects_code p {
	font-family: Lato;
	font-size: 0.7rem;
	line-height: 0.8rem;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #6A707B;
	bottom:0;
	margin: 0.2rem;
}

/* --------------------- individual projects ----------------------*/

.projectstmp_img1 {
	background: url('../images/projectstmp1.png');
	background-size: cover;
	width: 100%;
	height: 35vw;
}

.projectstmp_paddingSides{
	width: 80vw !important;
}

.projectstmp_card {
	margin-top: -18vw;
	background-color: #FFFFFF;
}

.prjectstmp_button {
	margin-top: -3vw !important;
	margin-left: -2.5vw !important;
}

.prjectstmp_button button {
	background-color: #E96F62;
	color: #FFFFFF;
	border: none;
	padding: 1vw 2vw;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	
}
.projectstmp_marginLeft {
	margin-left: 5vw;
	padding-bottom: 2vw;
}
.projectstmp_title p {
	padding-top: 4vw;
	padding-bottom: 1vw;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 61px;
	color: #132811;
}

.projectstmp_desc p {
	padding-top: 2vw;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #000000;
}

.projectstmp_infoTitle {
	color: #0e2c08;
	font-family: 'Lato';
	font-size: 1rem;
	line-height: 22px;
	display: inline;
}

.projectstmp_info {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 22px;
	color: #000000;
	display: inline;
}

.projectstmp_descTitle {
	padding-top: 6vw;
}
.projectstmp_descTitle2 {
	padding-top: 3vw;
}
.projectstmp_descTitle  p {
	font-family: 'Lato';
	font-style: normal;
	font-size: 2rem;
	color: #132811;
}
.projectstmp_descTitle2  p {
	font-family: 'Lato';
	font-style: normal;
	font-size: 2rem;
	color: #132811;
}
.projectstmp_desc p {
	font-family: 'Lato';
	font-style: normal;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #000000;
	text-align: justify;

}


.projectstmp_img2 {
	background: url('../images/projectstmp2.png');
	background-size: cover;
	width: 100%;
}

.projectstmp_marginTop {
	margin: 3vw;
}

.projectstmp_objTitle p {
	font-family: 'Lato';
	font-style: normal;
	font-size: 2rem;
	color: #FFFFFF;
}
.projectstmp_obj p {
	font-family: 'Lato';
	font-style: normal;
	font-size: 0.9rem;
	line-height: 1.2rem;
	color: #FFFFFF;
}

.projectstmp_padding {
	padding: 8vw 0 0 0;
}

.projectstmp_padding2 {
	padding: 3vw 0 9vw 0;
}

.projectstmp_padding3 {
	padding: 1vw 0 0 0;
}

.projectstmp_padding4 {
	padding: 5vw 0 0 0;
}

.projectstmp_photo {
	margin-top: -2vw;
}

.projectstmp_photoBackGorund {
	background: url('../images/projectstmp3.png');
	background-size: cover;
	width: 100%;
	height: 11vw;
}

.projectstmp_galleryPad {
	padding-top: 2vw;
}

.projectstmp_text a {
	font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #E96F62;
}

.projectstmp_text a:hover {
	color: #ab5349;
	text-decoration: none;
}

.projectstmp_text2 {
	margin-top: 2.5vw;
}
.projectstmp_text2 p {
	font-family: 'Lato';
	font-size: 1rem;
	line-height: 1.2rem;
	text-align: justify;
	color: #000000;
}

.projectstmp_erasmus {
	padding-top: 3vw;
}

.embeded-video embed {
    height: 39vw;
    width: 70vw;
}

.embeded-video {
	padding: 7vw 0 5vw 0;
}

/* ----- caucan ----*/

.projectsCaucan_img1 {
	background: url('../images/caucan/projCaucan.png');
	background-size: cover;
	width: 100%;
	height: 42.3vw;
}

.projectsCaucan_title p {
	padding-top: 4vw;
	padding-bottom: 1vw;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 2.6rem;
	line-height: 61px;
	color: #132811;
}

/* ------ ParticipArt---------- */

.projectsPaticipArt_img1 {
	background: url('../images/participArt/projParticipArt.png');
	background-size: cover;
	width: 100%;
	height: 42.3vw;
}