
/*
1. FONTS -------------------------------------------------------------------------------------
*/
@font-face {
	font-family: Lato;
	src: url('fonts/lato-v15-latin-regular.ttf');
}

@font-face {
	font-family: Lato;
	src: url('fonts/lato-v15-latin-900.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Marcellus;
	src: url('fonts/Marcellus-Regular.ttf');
}


/*
2. CSS ---------------------------------------------------------------------------------------
*/
.caat_navbar a {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 19px;
	color: #000000;
}
.caat_navbar a:hover {
	color:#2A4A30;
	font-weight: bold;
}

.caat_navbar{
	height: 4vw;
}
.caat_navbar img {
	height: 4vw;
}
@media (max-width: 1400px){
	.caat_navbar a {
		font-size: 16px;
		line-height: 18px;
	}
	.caat_navbar {
		height: 5vw;
	}
	.caat_navbar img {
		height: 5vw;	
	}
}
@media (max-width: 1000px){
	.caat_navbar a {
		font-size: 14px;
		line-height: 16px;
	}
	.caat_navbar {
		height: 6vw;
	}
	.caat_navbar img {
		height: 6vw;	
	}
}
@media (max-width: 800px){
	.caat_navbar a {
		font-size: 12px;
		line-height: 14px;
	}
	.caat_navbar {
		height: 7vw;
	}
	.caat_navbar img {
		height: 7vw;	
	}
}

.home_img1 {
	background: url('../images/home1.png');
	background-size: cover;
	width: 100%;
	height: 44.02vw; //1438 x 6333
}

.home_img2 {
	background: url('../images/home2.png');
	background-size: cover;
	width: 100%;
	height: 29.93vw;
	margin: -7.5vw 0 0;
}

.remove_padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.remove_row_margin {
	margin-right: 0px !important;
}

.home_img1_title {
	padding: 14vw 0 2vw;
}
.home_img1_title p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 80px;
	color: #101011;
}

.home_img1_text p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	color: #101011;
}

.home_img2_text p {
	padding: 10vw 0 0;
}
.home_img2_text p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
}

.home_img3 {
	background: url('../images/home3.png');
	background-size: cover;
	width: 100%;
	height: 38.68vw;
	margin: -7.5vw 0 0;
}
@media (max-width: 1400px){
	.home_img1_title p {
		font-size: 52px;
		line-height: 60px;
	}
	.home_img1_text p {
		font-size: 16px;
		line-height: 24px;
	}
	.home_img2_text p {
		font-size: 30px;
		line-height: 40px;	
	}
}
@media (max-width: 1000px){
	.home_img1_title p {
		font-size: 42px;
		line-height: 50px;
	}
	.home_img1_text p {
		font-size: 12px;
		line-height: 20px;
	}
	.home_img2_text p {
		font-size: 20px;
		line-height: 30px;	
	}
}
@media (max-width: 800px){
	.home_img1_title p {
		font-size: 32px;
		line-height: 40px;
	}
	.home_img1_text p {
		font-size: 10px;
		line-height: 15px;
	}
	.home_img2_text p {
		font-size: 15px;
		line-height: 20px;	
	}
}

.home_img3_text {
	padding: 31vw 0 0;
}
.home_subtitle p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #101011;
}

.home_title p{
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 53px;
	color: #000000;

}

.home_text p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	color: #000000;
}

.home_link a {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #E96F62;
}

.home_link a:hover {
	color: #ab5349;
	text-decoration: none;
}

.home_img5Pad {
	padding-top: 6vw;
}

@media (max-width: 1400px){
	.home_subtitle p {
		font-size: 10px;
		line-height: 20px;
	}
	.home_title p {
		font-size: 36px;
		line-height: 46px;
	}
	.home_text p {
		font-size: 16px;
		line-height: 26px;
	}
	.home_link a {
		font-size: 18px;
		line-height: 22px;
	}
	.home_img5Pad {
		padding-top: 2vw;
	}
}
@media (max-width: 1000px){
	.home_subtitle p {
		font-size: 8px;
		line-height: 16px;
	}
	.home_title p {
		font-size: 28px;
		line-height: 36px;
	}
	.home_text p {
		font-size: 12px;
		line-height: 18px;
	}
	.home_link a {
		font-size: 14px;
		line-height: 18px;
	}
	.home_img5Pad {
		padding-top: 1vw;
	}
}
@media (max-width: 800px){
	.home_subtitle p {
		font-size: 6px;
		line-height: 16px;
	}
	.home_title p {
		font-size: 20px;
		line-height: 28px;
	}
	.home_text p {
		font-size: 10px;
		line-height: 14px;
	}
	.home_link a {
		font-size: 12px;
		line-height: 16px;
	}
	.home_img5Pad {
		padding-top: 1vw;
	}
}

.home_margTop{
	margin: 18vw 0 0;
}
.home_margTop2{
	margin: 12vw 0 0;
}
.home_margTop3{
	margin: 9vw 0 0;
}
.home_margTop4{
	margin: 3vw 0 0;
}
.home_margTop5{
	margin: 1.5vw 0 0;
}
.home_padTop {
	padding-top: 2vw;
}
.home_padBot {
	padding-bottom: 1.5vw;
}

.img_responsive {
	max-width: 100%;
	height: auto;
}

.home_textMarg {
	margin: 2vw 0 0;
}

.home_img5{
	background: url('../images/home5.png');
	background-size: cover;
	width: 100%;
	height: 63.75vw;
}

.home_proj img {
	width: 100%
}

.home_projText {
	background-color: #FFFFFF;
	text-align: left;
	padding: 1vw 1.5vw 0.2vw 1.5vw;
}

.home_projOrg {
	height: 30px;
}
.home_projOrg p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #E96F62;
}
.home_projTitle {
	padding: 1vw 0 0;
	height: 60px;
}
.home_projTitle a {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}
.home_projTitle a:hover {
	color: #ab5349;
	text-decoration: none;
}
.home_projCode{
	padding: 1.5vw 0 0;
	height: 70px;

}
.home_projCode p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: #6A707B;
}

@media(max-width: 1400px){
	.home_projOrg {
		height: 25px;
	}
	.home_projOrg p {
		font-size: 10px;
		line-height: 16px;
	}
	.home_projTitle {
		padding: 0.5vw 0 0;
		height: 40px;
	}
	.home_projTitle a {
		font-size: 20px;
		line-height: 28px;
	}
	.home_projCode {
		height: 50px;
	}
	.home_projCode p {
		font-size: 8px;
		line-height: 14px;
	}
}
@media(max-width: 1000px){
	.home_projOrg {
		height: 20px;
	}
	.home_projOrg p {
		font-size: 8px;
		line-height: 14px;
	}
	.home_projTitle {
		padding: 1vw 0 0;
		height: 40px;
	}
	.home_projTitle a {
		font-size: 16px;
		line-height: 22px;
	}
	.home_projCode {
		height: 45px;
	}
	.home_projCode p {
		font-size: 6px;
		line-height: 12px;
	}
}
@media(max-width: 800px){
	.home_projOrg {
		height: 20px;
	}
	.home_projOrg p {
		font-size: 7px;
		line-height: 13px;
	}
	.home_projTitle {
		padding: 1vw 0 0;
		height: 30px;
	}
	.home_projTitle a {
		font-size: 14px;
		line-height: 22px;
	}
	.home_projCode {
		height: 35px;
	}
	.home_projCode p {
		font-size: 6px;
		line-height: 12px;
	}
}

.home_work{
	background-color: #FAC251;
}

.home_footerText p{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.footer_ img {
	width:30%;
}
.footer_button button {
	background: #101011;
	border: none;
	border-radius: 4px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 15px 32px;
}

/* goals and methodology*/

.goals_img1 {
	background: url('../images/goals1.png');
	background-size: cover;
	width: 100%;
	height: 50.13vw;
}

.goals_padtop {
	padding: 10vw 0 0 0;
}

.goals_toptittle p {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 60px;
	color: #000000;
}

.goals_toptext p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}